<div class="container">
  <div class="row center signup-form">
    <div class="col-s12 m12">
      <div class="card-panel">
        <h3 class="header"> Login </h3>
        <div class="row">
          <%= form_with(url: login_path, method:"get", local: true, class:"col-s12" ) do |f|%>
            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :email, placeholder:"name@gmail.com" %>
                <%= f.label :email%>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.password_field :password %>
                <%= f.label :password %>
              </div>
            </div>

            <%=f.submit "Login", class: "waves-effect waves-light btn"  %>
          <%end %>
        </div>
      </div>
    </div>
  </div>
</div>